@model DataAccessLayer.ProductViewModel
@{
    ViewBag.Title = "Home";
}

@using (Html.BeginForm())
{
    <!-- Begin hidden fields area. -->
    @Html.HiddenFor(m => m.EventCommand)
    @Html.HiddenFor(m => m.Mode)
    @Html.HiddenFor(m => m.EventArgument)
    <!-- Ends hidden fields area. -->

    <!-- Begin search area. -->
    if (Model.IsSearchAreaVisible)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Search Products</h1>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.SearchEntity.ProductName, "Product Name")
                    @Html.TextBoxFor(m => m.SearchEntity.ProductName, new { @class = "form-control" })
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary btn-sm" id="btnSearch" data-pdsa-action="search"><i class="glyphicon glyphicon-search"></i>&nbsp;Search</button>
                <button class="btn btn-primary btn-sm" id="btnReset" data-pdsa-action="resetsearch"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;Reset</button>
                <button class="btn btn-primary btn-sm" id="btnAdd" data-pdsa-action="add"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Add</button>
            </div>
        </div>
    }
    <!-- Ends search area. -->

    <!-- Begin detail area. -->
    if (Model.IsDetailAreaVisible)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Product Information</h1>
            </div>
            <div class="panel-body">
                <!-- Begin message area. -->
                <div class="row">
                    @if(!Model.IsValid)
                    {
                        <div class="alert alert-danger alert-dismissable" role="alert">
                            <button type="button" class="close" data-dissmiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            @Html.ValidationSummary(false)
                        </div>
                    }
                </div>
                <!-- Ends message area. -->
                <div class="form-group">
                    @Html.LabelFor(m => m.Entity.ProductName, "Product Name")
                    @Html.TextBoxFor(m => m.Entity.ProductName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Entity.IntroductionDate, "Introduction Date")
                    @Html.TextBoxFor(m => m.Entity.IntroductionDate, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Entity.Url, "Url")
                    @Html.TextBoxFor(m => m.Entity.Url, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Entity.Price, "Price")
                    @Html.TextBoxFor(m => m.Entity.Price, new { @class = "form-control" })
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary btn-sm" id="btnSave" data-pdsa-action="save"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save</button>
                <button formnovalidate="formnovalidate" class="btn btn-primary btn-sm" id="btnCancel" data-pdsa-action="cancel"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Cancel</button>
            </div>
        </div>
    }
    <!-- Ends detail area. -->

    <!-- Begin list area. -->
    if (Model.IsListAreaVisible)
    {
        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="pdsa-action-button-column">Edit</th>
                        <th>Product Name</th>
                        <th>Introduction Date</th>
                        <th>Url</th>
                        <th>Price</th>
                        <th class="pdsa-action-button-column">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>  
                            <td class="pdsa-action-button-column"><a href="#" data-pdsa-action="edit" data-pdsa-val="@item.ProductId" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-edit"</a></td>                      
                            <td>@item.ProductName</td>
                            <td>@item.IntroductionDate</td>
                            <td>@item.Url</td>
                            <td>@item.Price.ToString("c")</td>
                            <td class="pdsa-action-button-column"><a href="#" data-pdsa-action="delete" onclick="return confirm('Delete this Product?')" data-pdsa-val="@item.ProductId" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-trash"</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <!-- Ends list area. -->
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("[data-pdsa-action]").on("click", function (e) {
                e.preventDefault;

                $("#EventCommand").val($(this).data("pdsa-action"));
                $("#EventArgument").val($(this).data("pdsa-val"));

                $("form").submit();
            });
        });
    </script>
}